* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

span.txt-menu {
	float: left;
	color: white;
	margin-right: 10px;
}

span.hamburguesa {
	float: right;
}

header#home {
	background-image: url(../img/header-bg.jpg);
	position: relative;
}

.bg-img {
	min-height: 110vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	color: #fff;
}

/*** MODIFICICAR EN MeDIA QUERY***/
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.navbar .navbar-inverse .navbar-fixed-top{
	margin: 20px;
}

/*** MODIFICICAR EN MADIA QUERY***/
.box {
	margin-top: 200px;
}

.box h3{
	font-family: 'Droid Serif', serif;
}

.box h1{
	font-family: 'Raleway', sans-serif;
}

.box button {
	font-family: 'Raleway', sans-serif;
	background-color: #fccc00;
	border-radius: 5px;
	border: none;
}

.navbar-inverse .navbar-brand {
	font-family: 'Kaushan Script', cursive;
	font-weight: 600;
	color: #fccc00;
	font-size: 140%;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-weight: 
}

.navbar-toggle {
	background-color: #fccc00;
}

.navbar-toggle {
	padding: 10px;
}

.navbar-toggle .icon-bar {
	width: 15px;
}

/*********** SERVICES ***********/
.btn-portafolio {
	display: inline-block;
	height: 90px;
	width: 90px;
	line-height: 90px;
	-moz-border-radius: 15px;
	border-radius: 50%;
	color: white;
	font-size: 50px;
	background-color: #fbcb00;
	text-align: center;
}

/*********** PORTAFOLIO ***********/
#portafolio {
	background-color: #eaeaea;
}

.thumbnail {
	position: relative;
	padding: 0px;
	margin-bottom: 30px;
}

.caption {
	margin-bottom: 10px;
}

/***********  ABOUT ***********/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	padding: 20px;
}

.timeline > li > .timeline-panel .derecha{
	text-align: right;
}

.timeline > li > .timeline-panel .izquierda{
	text-align: left;
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}


/*-----* FOTO ABOUT *----*/
.profile-header-container{
	margin: 0 auto;
	text-align: center;
}

.profile-header-img {
	padding: 54px;
}

.profile-header-img > img.img-circle {
	width: 120px;
	height: 120px;
	border: 2px solid #51D2B7;
}

.profile-header {
	margin-top: 43px;
}

/*-----* RESPONSIVE *----*/
@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}

	ul.timeline > li > .timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}

	ul.timeline > li > .timeline-badge {
		left: 15px;
		margin-left: 0;
		top: 16px;
	}

	ul.timeline > li > .timeline-panel {
		float: right;
	}

	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

@media (max-width: 568px){
	ul.timeline:before {
		display:none;
	}

	ul.timeline>li>.timeline-panel, ul.timeline>li>.timeline-panel.timeline-inverted {
		width: 100%;
		border:none !important;
	}

	ul.timeline>li>.timeline-badge {
		display:none;
	}

	ul.timeline>li>.timeline-panel {
		float: right;
	}

	ul.timeline>li>.timeline-panel:before {
		display:none;
	}

	ul.timeline>li>.timeline-panel:after {
		display:none;
	}
}

/*********** OUR AMAZING TEAM ***********/


/*********** CONTACT US ***********/


/*********** FOOTER ***********/
